.menu-list {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.link--nav {
  border-right: 1.5px dotted var(--color-primary);
  border-left: 1.5px dotted var(--color-primary);
}

.link--nav,
.link--subnav {
  font-weight: 600;
  box-shadow: inset 0 0.5rem 0 0 var(--color-menu-items);
  transition: all 0.2s ease-out;
  padding: 0.6rem 0.7rem;
}

.link--nav:hover,
.link--nav.active,
.link--subnav:hover,
.link--subnav.active,
.menu-list .dropdown:hover {
  box-shadow: inset 0 2.7rem 0 0.09px var(--color-menu-items); /* 0.09px to avoid flickering in Chrome */
}

.dropdown {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}

.dropdown-sublist {
  display: none;
  margin-top: 2px;
  padding: 0;
  background-color: var(--color-bg-navbar);
  box-shadow: var(--box-shadow);
}

.dropdown:hover .dropdown-sublist {
  display: flex;
  flex-flow: column;
}

.link--subnav {
  font-size: 0.8rem;
  line-height: 1rem;
  box-shadow: inset 0 0.25rem 0 0 var(--color-menu-items);
}

.link--subnav:last-child {
  border-bottom: none;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.icons > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  width: 2.7rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  width: auto;
  filter: grayscale(1) opacity(0.5);
  transform: translateY(0.6rem);
  transition: all 0.2s ease-out;
}

.logo--hidden {
  height: 1.3rem;
  width: auto;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.2s ease-out;
}

.icons > a:hover > .logo {
  transform: translateY(-2rem);
}

.icons > a:hover > .logo--hidden {
  opacity: 1;
  transform: translateY(-0.7rem);
}

.icons > a:hover {
  background-color: var(--color-bg-transparent60);
}

@media all and (max-width: 1100px) {
  /* wrapper (menu-wrapper + menu-wrapper > div) only needed for mobile view to have animation effect */
  .menu-wrapper {
    width: 100%;
  }

  .menu-wrapper > div {
    display: flex;
    width: 100%;
  }

  .menu-list {
    gap: 0;
    text-align: left;
    flex-flow: column;
    width: 100%;
    background-color: var(--color-bg-navbar);
    box-shadow: var(--box-shadow);
  }

  .dropdown:nth-last-of-type(2) {
    border-bottom: 1px solid var(--color-primary);
  }

  .dropdown-sublist {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
  }

  .link--subnav:before {
    content: '';
    display: inline-block;
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.5rem;
    border: solid var(--color-primary-shade);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
  }

  .link--nav {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .link--subnav {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .link--nav,
  .link--subnav {
    border-top: 1px solid var(--color-primary);
    box-shadow: inset 0 0 0 0 var(--color-bg-navbar-inset-shadow);
  }

  .link--nav:hover,
  .link--nav.active,
  .link--subnav:hover,
  .link--subnav.active,
  .menu-list .dropdown:hover {
    box-shadow: inset 100vw 0 0 0 var(--color-bg-navbar-inset-shadow);
  }

  .icons {
    padding: 1rem auto 1rem 1rem;
  }

  .logo {
    transform: none;
  }

  .logo--hidden {
    display: none;
  }

  .icons > a:hover {
    background-color: transparent;
  }

  .icons > a:hover > .logo {
    filter: grayscale(0) opacity(1);
    transform: none;
  }
}
