.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-navbar);
  box-shadow: var(--box-shadow);
  z-index: 10;
  height: 2.7rem;
}

.navbar__container {
  display: flex;
  /* max-width: 992px; */
  margin: 0 auto;
  overflow: hidden; /* for moveIn animation mobile menu */
}

.navbar__btns-box {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__icon {
  font-size: 1.5rem;
  color: var(--color-primary-shade);
  margin: 0.5rem;
  animation: var(--animation-rotate);
}

@media all and (max-width: 1100px) {
  .navbar {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
  }

  .navbar__container {
    flex-flow: row wrap;
  }
}
