.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  gap: 1rem;
}

@media all and (max-width: 576px) {
  .buttons {
    justify-content: space-between;
  }
}
