.card-customize {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.card-customize--restPubs {
  background: var(--color-bg-items-primary);
}

.content {
  flex: 1 1 60%;
  width: 100%;
  padding: 1.5rem;
}

.h2 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-primary);
}

.h2::first-letter {
  font-size: clamp(2rem, 1.5443rem + 2.0253vw, 2.8rem);
  color: var(--color-primary);
}

.h2--restPubs {
  padding: var(--padding-even-md);
  margin: 1rem 0 0 0;
}

.restPubs-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.restPubs-container--content {
  flex: 1 1 calc(50% - 2rem);
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.restPubs-container--content:nth-child(1) {
  order: 1;
}

.restPubs-container--content:nth-child(2) {
  order: 3;
}

.restPubs-container--content:nth-child(3) {
  order: 5;
}

.restPubs-container--content:nth-child(4) {
  order: 7;
}

.restPubs-container--content:nth-child(5) {
  order: 9;
}

.restPubs-container--content:nth-child(6) {
  order: 11;
}

.restPubs-container--content:nth-child(7) {
  order: 2;
}

.restPubs-container--content:nth-child(8) {
  order: 4;
}

.restPubs-container--content:nth-child(9) {
  order: 6;
}

.restPubs-container--content:nth-child(10) {
  order: 8;
}

.restPubs-container--content:nth-child(11) {
  order: 10;
}

.restPubs-container--content:nth-child(12) {
  order: 12;
}

@media all and (max-width: 768px) {
  .restPubs-container--content {
    flex: 1 1 100%;
  }
}

@media all and (max-width: 576px) {
  .card-customize,
  .card-customize--restPubs {
    border-radius: 0;
  }

  .h2 {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .restPubs-container--content {
    margin-left: 1rem;
  }

  .restPubs-container--content:nth-child(1),
  .restPubs-container--content:nth-child(2),
  .restPubs-container--content:nth-child(3),
  .restPubs-container--content:nth-child(4),
  .restPubs-container--content:nth-child(5),
  .restPubs-container--content:nth-child(6),
  .restPubs-container--content:nth-child(7),
  .restPubs-container--content:nth-child(8),
  .restPubs-container--content:nth-child(9),
  .restPubs-container--content:nth-child(10),
  .restPubs-container--content:nth-child(11),
  .restPubs-container--content:nth-child(12) {
    order: 1;
  }
}
