.card-customize {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.restPubs-customize {
  background: var(--color-bg-items-primary);
}

.cover {
  flex: 1 1 auto;
  background-color: var(--color-bg-items-primary);
  display: flex;
  padding: 2rem;
}

.cover__img {
  object-fit: cover;
  height: 100%;
  width: auto;
  max-width: 280px;
  transition: all 0.2s ease-out;
}

.cover__img:hover {
  transform: translate(0.5rem, -0.5rem);
  transition: all 0.2s ease-out;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    1rem 1rem 0 0 #f7cc4b90;
}

.content {
  flex: 1 1 60%;
  width: 100%;
  padding: 1.5rem;
}

.card-customize h2 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-primary);
}

@media all and (max-width: 576px) {
  .card-customize h2 {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .cover {
    flex: 1 1 100%;
    justify-content: center;
  }

  .cover__img {
    max-width: 180px;
  }
}

.card-customize h2::first-letter {
  font-size: 3.3rem;
  font-weight: bold;
  color: var(--color-primary);
}

.rest-publication-box {
  flex: 1 1 calc(50% - 2rem);
  margin-left: 2rem;
}

.h2-customize {
  padding: var(--padding-even-md);
  margin: 1rem 0 0 0;
}

@media all and (max-width: 576px) {
  .card-customize,
  .restPubs-customize {
    border-radius: 0;
  }

  .rest-publication-box {
    margin-left: 1rem;
  }
}

@media all and (max-width: 768px) {
  .rest-publication-box {
    flex: 1 1 100%;
  }
}
