.container-customized {
  gap: 2rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
}

.col-left {
  flex: 1 1 calc(40% - 1rem);
  height: auto;
  padding: var(--padding-even-md);
  text-align: right;
  border-right: 0.2rem solid var(--color-primary);
}

.col-left h1,
.col-left h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.col-right {
  flex: 1 1 calc(60% - 1rem);
  height: auto;
  padding: var(--padding-even-md);
}

.col-right h2 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.cards-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.card-theses {
  width: calc(50% - 0.5rem);
  max-width: 300px;
}

.card-theses .card-header {
  display: flex;
  flex-flow: row nowrap;
}

.card-theses .card-number {
  flex: 1 1 auto;
  font-weight: 600;
  padding: var(--padding-even-sm);
  background-color: var(--color-secondary);
}

.card-theses h4 {
  flex: 1 1 100%;
  text-align: center;
  padding: var(--padding-even-sm);
  border-bottom: 1px solid var(--color-primary);
}

.card-theses p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: var(--padding-even-sm);
}

.li-customize {
  display: flex;
  align-items: flex-start;
}

.keypoint-customize {
  align-self: flex-start;
}

.text {
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

.text .title {
  font-weight: bold;
}

@media all and (max-width: 576px) {
  .container-customized {
    padding: var(--padding-even-md);
    border: 0;
  }
}

@media all and (max-width: 768px) {
  .col-left {
    flex: 1 1 100%;
    border: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .col-left h1,
  .col-left h3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: calc(100% - 70px);
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  .col-left h1:before,
  .col-left h1:after,
  .col-left h3:before,
  .col-left h3:after {
    position: absolute;
    background: var(--color-primary);
    content: '';
    height: 0.1rem;
    bottom: 50%;
    width: 750px;
  }

  .col-left h1:before,
  .col-left h3:before {
    left: 100%;
    margin-left: 1rem;
  }

  .col-left h1:after,
  .col-left h3:after {
    right: 100%;
    margin-right: 1rem;
  }

  .col-right {
    padding: 0;
  }

  .cards-box {
    flex: 1 1 100%;
    gap: 1rem;
    overflow: visible; /* needed that box shadow works on small displays */
  }

  .card-theses {
    width: calc(33% - 1rem);
    width: 100%;
    min-width: 200px;
  }
}
