.portfolio-item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.card--customized {
  flex: 1 1 65%;
  min-width: 300px;
  height: 100%;
  background: var(--color-bg-items-primary);
}

.card--customized h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card--customized h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
}

.card-header {
  padding: var(--padding-less-y);
  width: 100%;
}

.section {
  padding: var(--padding-less-y);
  width: 80%;
}

.keypoint-customize {
  margin-top: -0.2rem;
}

.btns {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  height: 100%;
  margin-bottom: 0.5rem;
}

.logo {
  height: 3rem;
  transition: transform 0.3s ease-out;
  transform: scale(1.5);
}

.logo:hover {
  transform: scale(1.7);
  transition: transform 0.3s ease-out;
}

.image--main {
  flex: 1 1 30%;
  align-self: flex-start;
  transform: translate(-35%, 25%) scale(0.9);
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}

.image--main:hover {
  transform: translate(-35%, 25%) scale(0.95) rotate(2deg);
}

.image--main img {
  width: 120%; /* scale shifted image */
  height: 100%;
  object-fit: contain;
  box-shadow: var(--box-shadow);
}

.image-cutted-out img {
  width: 140%;
  box-shadow: none;
}

.image {
  filter: drop-shadow(30px -5px 8px rgba(0, 0, 0, 0.12));
}

@media all and (max-width: 768px) {
  .portfolio-item {
    flex-flow: row wrap;
    gap: 1rem;
  }

  .card--customized {
    flex-basis: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .card-header,
  .section {
    width: 100%;
  }

  .image--main {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    transform: none;
    padding: var(--padding-less-y);
  }

  .image--main:hover {
    transform: none;
  }

  .image--main img {
    width: 100%;
    height: auto;
    max-height: 350px;
    margin: 0 auto;
    object-fit: contain;
    box-shadow: none;
  }

  .image-cutted-out img {
    box-shadow: none;
  }
}
