.title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
}

.title::first-letter {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: -0.2rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  color: #f7cc4b;
}

.title:after {
  position: absolute;
  background: #f7cc4b;
  content: '';
  height: 0.25rem;
  top: 0;
  width: 1260px;
}

.title:after {
  margin-left: 1rem;
}
