.title {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.title::first-letter {
  font-size: clamp(1.7rem, 1.0734rem + 2.7848vw, 2.8rem);
  margin-right: -0.2rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  color: var(--color-primary);
}

.title:after {
  position: absolute;
  background: var(--color-primary);
  content: '';
  height: 0.1rem;
  top: 0;
  width: 1260px;
}

.title:after {
  margin-left: 1rem;
}
