.title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.title::first-letter {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: -0.2rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  color: var(--color-primary);
}

.title:after {
  position: absolute;
  background: var(--color-primary);
  content: '';
  height: 0.1rem;
  top: 0;
  width: 1260px;
}

.title:after {
  margin-left: 1rem;
}
