.center {
  margin: 1rem auto;
  max-width: 992px;
}

.container {
  padding: var(--padding-even-md);
  border: 2px solid var(--color-tertiary);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

@media all and (max-width: 576px) {
  .center {
    margin: 0 auto;
  }

  .container {
    padding: 0;
  }
}
