.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 2rem 0.5rem;
  background: var(--bg-linear-gradient);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icons > a {
  font-size: 2rem;
  transition: all 0.2s ease-out;
}

.icons > a:hover {
  transform: scale(1.15);
}

.logo {
  height: 2rem;
  width: auto;
}

.carbon {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  font-size: 0.7rem;
  color: #016c4a;
  background-color: var(--color-bg-items-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
  user-select: none;
}

.carbon > * {
  padding: 0 3px;
}

.carbon__link {
  padding-bottom: 1px;
}

.carbon__description {
  color: var(--color-light);
  background-color: rgba(1, 108, 74, 0.5);
}

.copyright {
  text-align: center;
}

.p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-text-shade);
  opacity: 0.8;
  margin: 0;
  padding: var(--padding-even-sm);
}

.icon-react {
  width: 1.5rem;
  margin-left: 0.3rem;
  animation: var(--animation-rotate);
}

.icon-react:hover {
  filter: invert(10%);
}

.navlinks-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.navlink {
  color: var(--color-text-shade);
  font-weight: 500;
  padding: 0.3rem 1rem;
  box-shadow: inset 0 -1.1rem 0 0 var(--color-menu-items);
  transition: all 0.3s ease-out;
}

.navlink:hover,
.navlink:active {
  box-shadow: inset 0 -2.2rem 0 0 var(--color-menu-items);
  transition: all 0.3s ease-out;
}
