section {
  /* height: 30vh; */
  /* width: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}

section h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 .title {
  font-size: 5rem;
  color: #3a3a3a;
  z-index: 2;
  user-select: none;
  animation: slideInTitle 2s ease-out 0s 1 normal forwards;
}

@keyframes slideInTitle {
  0% {
    opacity: 0;
    transform: translate(-70%, 100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 50%);
  }
}

h1 .firstName {
  font-size: 6rem;
  color: #f7cc4b;
  z-index: 3;
  user-select: none;
}

h1 .lastName {
  font-size: 10rem;
  color: #3a3a3a;
  z-index: 2;
  user-select: none;
  animation: slideIn 2s ease-out 0s 1 normal forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-70%, -20%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, -33%);
  }
}
