.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 5rem);
  margin-bottom: 1rem;
  background: linear-gradient(-45deg, #f7cc4b, #fffdfa, #fcecd6, #ffeccf);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hero h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 .title {
  font-size: 5rem;
  color: #3a3a3a;
  margin-bottom: 1.5rem;
  z-index: 2;
  user-select: none;
  animation: slideInTitle 2s ease-out 0s 1 normal forwards;
}

@keyframes slideInTitle {
  0% {
    opacity: 0;
    transform: translate(-70%, 100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 50%);
  }
}

h1 .firstName {
  font-size: 6rem;
  color: #f7cc4b;
  margin-bottom: 3rem;
  z-index: 3;
  user-select: none;
}

h1 .lastName {
  font-size: 10rem;
  color: #3a3a3a;
  z-index: 2;
  user-select: none;
  animation: slideIn 2s ease-out 0s 1 normal forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-70%, -20%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, -33%);
  }
}
