.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #ffeccf;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 10;
}

.logo {
  font-family: 'Brush Script MT', 'Bradley Hand ITC', cursive, 'Lucida Calligraphy';
  font-size: 2rem;
  padding: 0.7rem 1rem;
  display: flex;
  width: 165px;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.logo span {
  position: absolute;
  margin-top: 5px;
}

.menu {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu li {
  margin-right: 2rem;
}

.menu a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 900;
  box-shadow: inset 0 0.7rem 0 0 #f7cc4b;
  transition: all 300ms ease-in-out;
  padding: 0 0.5rem;
}

.menu a:hover,
.menu a:active {
  color: #f7cc4b;
  box-shadow: inset 0 1.4rem 0 0 #3a3a3a;
}

.navbar button {
  display: none;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  border: none;
  border: 2px solid #f7cc4b;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #3a3a3a;
  padding: 0.5rem;
  background: #ffeccf;
  cursor: pointer;
  opacity: 0.8;
}

.navbar button:hover {
  color: #f7cc4b;
  background: #3a3a3a;
  border: 2px solid #3a3a3a;
}

/* responsive navbar for mobile */
@media screen and (max-width: 596px) {
  .logo {
    flex-basis: calc(960px * 999 - 100% * 999);
    text-align: center;
    height: 4rem;
  }
  .menu {
    flex-basis: calc(960px * 999 - 100% * 999);
    flex-direction: column;
    margin-top: 0rem;
    height: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
  .menu li {
    width: 100%;
    background-color: #ffeccf;
    border-top: 2px solid #fff;
    text-align: center;
    margin-right: 0;
    padding: 1rem 0;
  }
  .navbar button {
    display: flex;
  }
}
