.btn-container {
  position: relative;
}

.btn {
  font: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--color-primary-shade);
  width: 120px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-primary-shade);
  outline: none;
  transition: all 1s ease-out;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: var(--color-text-shade);
  border-color: transparent;
  box-shadow: var(--box-shadow);
}

.btn:active {
  background-color: var(--color-bg-transparent60);
  transform: translateY(25px);
}

.btn:focus {
  background-color: var(--color-bg-transparent60);
}

.btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--color-primary-shade);
  stroke-dasharray: 150 380;
  stroke-dashoffset: 150;
  transition: all 1s ease-in-out;
}

.btn:hover svg {
  stroke-dashoffset: -380;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: var(--color-light);
  border-color: var(--color-light);
  color: var(--color-medium);
  cursor: not-allowed;
}
