.section {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 4rem);
  margin: 1rem 0;
  padding: var(--padding-even-md);
  background: var(--bg-linear-gradient);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
  scroll-margin-top: 30px; /* to avoid cut off with sticky navbar on top */
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.tabs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--color-bg-items-primary);
}

.tabs > li {
  flex: 1 1 auto;
  box-shadow: inset 0 0 0 0 var(--color-primary);
  transition: all 1s ease-out;
  padding: var(--padding-less-y);
  font-weight: 600;
  font-size: 1.2rem;
  outline: 1px solid var(--color-bg-items-secondary);
  cursor: pointer;
}

.tabs > li:hover,
.tabs > li.active {
  box-shadow: inset 0 -5rem 0 0 var(--color-bg-items-secondary);
  transition: all 1s ease-out;
}

.tabs-content {
  height: 100%;
  background-color: var(--color-bg-items-primary);
  width: 100%;
  overflow: hidden;
}

@media all and (max-width: 576px) {
  .section {
    margin: 0;
    padding: 0;
    scroll-margin-top: 0; /* not needed since no sticky navbar in mobile mode */
  }

  .h2-customized,
  .p {
    padding: 0 1rem;
  }

  .h2-customized {
    margin-top: 2rem;
  }

  .card-customized {
    border-radius: 0;
  }

  .tabs > li {
    flex: 1 1 100%;
  }
}
