.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 2rem);
  padding: var(--padding-even-md);
  background: var(--bg-linear-gradient);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.tabs-container {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.anchor {
  display: block;
  height: 92px;
  margin-top: -92px;
  visibility: hidden;
}

.tabs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tabs > li {
  flex: 1 1 auto;
  box-shadow: inset 0 -0.3rem 0 0 var(--color-secondary);
  transition: all 1s ease-out;
  padding: var(--padding-less-y);
  font-weight: 600;
  font-size: 1.2rem;
  outline: 1px solid var(--color-primary);
  cursor: pointer;
}

.tabs > li:hover,
.tabs > li.active {
  box-shadow: inset 0 -5rem 0 0 var(--color-bg);
  transition: all 1s ease-out;
}

.tabs-content {
  height: 100%;
  background-color: var(--color-bg);
  width: 100%;
  overflow: hidden;
}

@media all and (max-width: 576px) {
  .tabs > li {
    flex: 1 1 100%;
  }
}
