.cv-box {
  padding: var(--padding-even-md);
  display: flex;
  flex-flow: row wrap;
}

.education-box {
  flex: 1 1 calc(50% - 0.5rem);
}

@media all and (max-width: 768px) {
  .education-box {
    flex: 1 1 100%;
  }
}
