.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  margin: 1rem 0;
  background: linear-gradient(-45deg, #f7cc4b, #fffdfa, #fcecd6, #ffeccf);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.name {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  max-width: calc(100% - 100px);
  margin: 6rem 0 4rem 0;
}

.name:before,
.name:after {
  position: absolute;
  background: #f7cc4b;
  content: '';
  height: 0.1rem;
  bottom: 1.7rem;
  width: 1260px;
}

.name:before {
  left: 100%;
  margin-left: 1rem;
}

.name:after {
  right: 100%;
  margin-right: 1rem;
}

.title {
  font-size: 2rem;
  color: #3a3a3a;
  animation: slideInTitle 3s ease-out forwards;
}

@keyframes slideInTitle {
  0% {
    opacity: 0;
    transform: translate(-70%, 100%);
  }
  60% {
    opacity: 0;
    transform: translate(-70%, 100%);
  }
  80% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.firstName {
  font-size: 4rem;
  color: #f7cc4b;
}

.lastName {
  font-size: 4rem;
  color: #3a3a3a;
  animation: slideInName 2s ease-out forwards;
}

@keyframes slideInName {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.customize-container {
  border-width: 0.5rem;
}

.presentation {
  flex: 1 1 35%;
}

.images {
  flex: 1 1 45%;
  height: 300px;
}

@media all and (max-width: 768px) {
  .presentation {
    flex: 1 1 100%;
  }

  .images {
    flex: 1 1 100%;
    height: 100%;
  }
}
