.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 992px;
  gap: 0.5rem;
}

.img-box {
  transition: all 0.3s ease;
}

.img-box--1 {
  flex-basis: calc(65% - 0.5rem);
  z-index: 2;
  transform: translate(5%, 10%);
}

.img-box--2 {
  flex-basis: calc(35% - 0.5rem);
  z-index: 3;
  transform: translate(-10%, 40%);
}

.img-box--3 {
  flex-basis: 50%;
  z-index: 1;
  transform: translate(-5%, 0);
}

/* if container is hovered, select elements that are not hovered */
.images:hover .img-box:not(:hover) {
  filter: blur(3px);
}

.img-box--1:hover {
  z-index: 4;
  transform: translate(5%, 5%) scale(1.05);
}

.img-box--2:hover {
  z-index: 4;
  transform: translate(-10%, 35%) scale(1.05);
}

.img-box--3:hover {
  z-index: 4;
  transform: translate(-5%, -5%) scale(1.05);
}

.img {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
}
