.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-customize {
  text-align: right;
  padding: 1.5rem 1.5rem 1.5rem 7rem;
}

.card-customize h2 {
  color: #f7cc4b;
  text-transform: uppercase;
}

.card-customize h3 {
  margin: 1rem 0;
}
