.container-customized {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.bold {
  font-weight: 600;
}

@media all and (max-width: 576px) {
  .container-customized {
    border: 0;
    padding: var(--padding-even-sm);
  }
}
