.wrapper {
  align-items: center;
  text-align: center;
}

.container--contact {
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 1rem;
}

.img-box {
  flex: 1 0 auto;
  z-index: 10;
}

.img {
  border: 5px solid var(--color-tertiary);
  border-radius: 100px;
  object-fit: cover;
  max-width: 110px;
  max-height: 110px;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
  box-shadow: var(--box-shadow);
}

.img:hover {
  box-shadow: 0 0 2px 5px var(--color-tertiary);
  transition: all 0.1s ease-out;
}

.data-box {
  flex: 1 0 auto;
}

.name {
  display: block;
  font-size: clamp(1.1rem, 0.9861rem + 0.5063vw, 1.3rem);
  font-weight: 700;
  letter-spacing: 4px;
}

.city {
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn-box {
  flex: 1 0 auto;
}

.btn {
  width: 100%;
  font: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--color-primary-shade);
  height: 50px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-primary-shade);
  padding: var(--padding-less-y);
  outline: none;
  transition: all 1s ease-out;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: var(--color-text-shade);
  border-color: transparent;
  box-shadow: var(--box-shadow);
}

.btn:active {
  background-color: var(--color-bg-transparent60);
  transform: translateY(25px);
}

.btn:focus {
  background-color: var(--color-bg-transparent60);
}
