.enterActive {
  animation: enterItem 500ms linear forwards;
  opacity: 1;
}

@keyframes enterItem {
  0% {
    opacity: 0;
  }
}

.exitActive {
  animation: exitItem 500ms linear forwards;
  opacity: 1;
}

@keyframes exitItem {
  100% {
    opacity: 0;
  }
}
