.slider-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  border: none;
  background-color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 2rem;
  user-select: none;
  width: auto;
  text-decoration: none;
  color: var(--color-text);
  z-index: 10;
  border-radius: var(--border-radius);
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
}

.slider-link:hover,
.slider-link:active,
.slider-btn .btn:hover,
.slider-btn .btn:active {
  background-color: var(--color-tertiary);
  transition: all 0.3s ease;
}

.slider-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
  z-index: 10;
  background-color: var(--color-tertiary);
  border-radius: var(--border-radius);
  margin-right: 1rem;
  box-shadow: var(--box-shadow);
}

.slider-btn .btn {
  border: none;
  color: var(--color-text);
  background-color: var(--color-secondary);
  cursor: pointer;
  user-select: none;
  width: 3rem;
}

.slider-btn .btn:first-child {
  border-radius: 0 0 4px 4px;
}

.slider-btn .btn:last-child {
  border-radius: 4px 4px 0 0;
}

.slider-btn div {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.card.slide-from-right {
  animation: slideFromRight 0.8s ease-out forwards;
}

.card.slide-from-left {
  animation: slideFromLeft 0.8s ease-out forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.quote {
  display: flex;
  flex-direction: column;
  padding: var(--padding-even-md);
  position: relative;
}

.quote .text {
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
}

.quote .mark {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-size: 4rem;
  color: var(--color-secondary);
  opacity: 0.6;
}

.quote .author {
  text-align: right;
  width: 70%;
  margin-left: auto;
}

.quote .origin {
  text-align: right;
  font-size: 0.8rem;
  color: var(--color-text-shade);
  width: 70%;
  margin-left: auto;
}
