.quotes-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 1.5rem;
}

.slider-link {
  background-color: var(--color-bg-items-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.slider-btn {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
  background-color: var(--color-bg-items-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-left: auto;
}

.btn {
  border: none;
  color: var(--color-text);
  background-color: var(--color-bg-items-secondary);
  width: 2rem;
  cursor: pointer;
}

.btn:first-child {
  border-radius: 4px 0 0 4px;
}

.btn:last-child {
  border-radius: 0 4px 4px 0;
}

.slider-link:hover,
.slider-link:active,
.btn:hover,
.btn:active {
  background-color: var(--color-bg-items-primary);
  transition: all 0.3s ease;
}

.slider-btn__text {
  flex: 1 0 auto;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.card.slide-from-right {
  animation: slideFromRight 0.8s linear forwards;
}

.card.slide-from-left {
  animation: slideFromLeft 0.8s linear forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.quote {
  display: flex;
  flex-direction: column;
  padding: var(--padding-even-md);
  position: relative;
}

.quote .text {
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
}

.quote .mark {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-size: 4rem;
  color: var(--color-secondary);
  opacity: 0.6;
}

.quote .author {
  text-align: right;
  width: 70%;
  margin-left: auto;
}

.quote .origin {
  text-align: right;
  font-size: 0.8rem;
  color: var(--color-text-shade);
  width: 70%;
  margin-left: auto;
}
