.card {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 440px;
  height: auto;
  width: 100%;
  background: linear-gradient(-45deg, #f7cc4b, #fffdfa, #fcecd6, #ffeccf);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.image {
  width: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.cardTitleLine {
  font-weight: bold;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  width: 100%;
  background: transparent;
}

.cardTitleLine .title::first-letter {
  font-size: 2rem;
  font-weight: bold;
  margin-right: -0.5rem;
  padding: 0.5rem;
  user-select: none;
  color: #f7cc4b;
  box-shadow: inset 0.2rem -0.5rem 0 0 #f7cc4b;
}

.card .description {
  padding: 1rem;
}

.description p,
.list {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}

.card .references {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #3a3a3a;
}

.references button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  user-select: none;
  color: #3a3a3a;
  margin-left: auto;
}

.references .rotate-open {
  border-radius: 50%;
  background-color: #ffeccf;
  transform: rotate(0deg);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.references .rotate-closed {
  border-radius: 10%;
  background-color: #f7cc4b;
  transform: rotate(180deg);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.references .rotate-open:hover {
  background-color: #f7cc4b;
  border-radius: 10%;
}

.references .rotate-closed:hover {
  background-color: #ffeccf;
  border-radius: 50%;
}

.references button svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.list ul {
  margin: 0;
  padding: 0.5rem 1rem;
}

.list li {
  list-style: none;
  display: flex;
  padding: 0.2rem 0;
}

.list .listIcon {
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-top: -0.2rem;
  border-radius: 50%;
  fill: #f7cc4b;
  transform: rotate(-90deg);
}
