.consent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  background: var(--color-bg-items-primary);
  color: var(--color-text);
  padding: var(--padding-even-md);
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.consent__content {
  flex: 1 0 250px;
}

.consent__content > p {
  font-size: 0.9rem;
}

.consent__btn-wrapper {
  display: flex;
  gap: 2rem;
}

.consent__btn--decline,
.consent__btn--accept {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
}

.consent__btn--decline {
  background-color: var(--color-bg-transparent20);
  color: var(--color-text-shade);
}

.consent__btn--accept {
  background-color: var(--color-bg-navbar-inset-shadow);
  color: var(--color-text-shade);
}
