:root {
  --color-primary: #f7cc4b;
  --color-primary-rgb: 247, 204, 75;
  --color-primary-contrast: #000000;
  --color-primary-contrast-rgb: 0, 0, 0;
  --color-primary-shade: #d9b442;
  --color-primary-tint: #f8d15d;

  --color-secondary: #ffeccf;
  --color-secondary-rgb: 255, 236, 207;
  --color-secondary-contrast: #000000;
  --color-secondary-contrast-rgb: 0, 0, 0;
  --color-secondary-shade: #e0d0b6;
  --color-secondary-tint: #ffeed4;

  --color-dark: #3a3a3a;
  --color-dark-rgb: 58, 58, 58;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shade: #333333;
  --color-dark-tint: #4e4e4e;

  --color-medium: #92949c;
  --color-medium-rgb: 146, 148, 156;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255, 255, 255;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6;

  --color-light: #f4f5f8;
  --color-light-rgb: 244, 245, 248;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  background: #fff;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin: 0 0 0.4rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9rem;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

main {
  /* stretch main website part over screen that footer stays always fixed at bottom of screen */
  flex: 1 0 auto;
  width: 100%;
}
