:root {
  --color-primary: #f7cc4b;
  /* --color-primary-rgb: 247, 204, 75;
  --color-primary-contrast: #000000;
  --color-primary-contrast-rgb: 0, 0, 0; */
  --color-primary-shade: #d3a418;
  /* --color-primary-tint: #f8d15d; */

  --color-primary-transparent20: #f7cc4b20;
  --color-primary-transparent60: #f7cc4b60;

  --color-secondary: #f8d97d;
  /* --color-secondary-rgb: 255, 236, 207;
  --color-secondary-contrast: #000000;
  --color-secondary-contrast-rgb: 0, 0, 0;
  --color-secondary-shade: #e0d0b6;
  --color-secondary-tint: #ffeed4; */

  --color-tertiary: #ffeccf;

  --color-text: #3a3a3a;
  /* --color-text-rgb: 58, 58, 58;
  --color-text-contrast: #ffffff;
  --color-text-contrast-rgb: 255, 255, 255;
  --color-text-shade: #333333;
  --color-text-tint: #4e4e4e; */

  --color-text-shade: #666666;

  --color-medium: #666666;
  /* --color-medium-rgb: 146, 148, 156;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255, 255, 255;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6; */

  --color-light: #fffdfa;
  /* --color-light-rgb: 244, 245, 248;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9; */

  --color-bg: #ffffff;
  --color-bg-shade: #fdfcfc;

  --border-radius: 4px;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --padding-even-sm: 0.5rem;
  --padding-even-md: 1rem;
  --padding-less-y: 0.5rem 1rem;
  --bg-linear-gradient: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-light),
    var(--color-tertiary),
    var(--color-secondary)
  );
}

.dark {
  --color-primary: #d3a418;
  --color-primary-shade: #b18a16;

  --color-primary-transparent20: #ffffff20;
  --color-primary-transparent60: #ffffff60;

  --color-secondary: #b98b00;

  --color-tertiary: #1d1c1a;

  --color-text: #ececec;
  --color-text-shade: #e1e1e1;

  --color-medium: #e1e1e1;

  --color-light: #fffdfa;

  --color-bg: #303437;
  --color-bg-shade: #4a4e50;

  --bg-linear-gradient: linear-gradient(-45deg, #4a4e50, #4a4e50, #4a4e50, #4a4e50);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth; /* behavior when scroll event is triggered */
  min-width: 325px;
}

.app {
  background: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-text);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin: 0 0 0.4rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
  margin: 0;
}

p {
  color: var(--color-text-shade);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

p a {
  text-decoration: none;
  color: var(--color-text);
  box-shadow: inset 0 -0.5rem 0 0 var(--color-tertiary);
  transition: all 0.3s ease-out;
}

p a:visited,
p a:hover {
  box-shadow: inset 0 -2rem 0 0 var(--color-tertiary);
  transition: all 0.3s ease-out;
}

main {
  /* stretch main website part over screen that footer stays always fixed at bottom of screen */
  flex: 1 0 auto;
  width: 100%;
}
