.card-customize {
  padding: var(--padding-even-md);
  background-color: var(
    --color-bg-items-primary
  ); /* only rendered in dark mode otherwise in light mode card bg of --bg-linear-gradient */
}

.title-customized {
  margin: 1rem 0;
}

.legend-items {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 0.7rem;
}

.legend-item-customized {
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  line-height: 0.9rem;
}

.group1,
.group2,
.group3,
.group4,
.group5,
.group6,
.group7 {
  color: #ffffff99;
  animation: rotate 10s ease-in-out infinite;
}

.group1 {
  background-color: #f48c06;
}

.group2 {
  background-color: #ffba08;
}

.group3 {
  background-color: #dc2f02;
}

.group4 {
  background-color: #eaac8b;
}

.group5 {
  background-color: #9d0208;
}

.group6 {
  background-color: #dfbfff;
}

.group7 {
  background-color: #892b64;
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media all and (max-width: 576px) {
  .card-customize {
    border-radius: 0;
    box-shadow: none;
  }
}
