.panel {
  padding: 0.3rem 0.5rem;
  background-color: var(--color-bg-navbar);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.panel:not(:last-child) {
  margin-bottom: 0.5em;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--color-text-shade);
}
