.panel {
  background: white;
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.panel:not(:last-child) {
  margin-bottom: 0.5em;
}

.panel h2 button {
  float: right;
  background: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  text-align: center;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel h2 button:hover {
  opacity: var(--hover-opacity);
}
