.card-customize {
  min-width: 300px;
  max-width: 440px;
}

.card-customize h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
  color: #3a3a3a;
  letter-spacing: 1px;
}

.card-customize h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #3a3a3a;
  margin: 1rem 0;
}

.image {
  width: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.cardTitleLine {
  font-weight: bold;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  margin: 0.7rem 0 0.3rem 0;
  width: 100%;
  background: transparent;
}

.cardTitleLine h2::first-letter {
  font-size: 2rem;
  font-weight: bold;
  margin-right: -0.5rem;
  padding: 0.5rem;
  color: #f7cc4b;
  box-shadow: inset 0.2rem -0.5rem 0 0 #f7cc4b;
}

.description p {
  margin: 0;
  padding: 0.2rem 1rem;
}

.references {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #3a3a3a;
}

.references button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  user-select: none;
  color: #3a3a3a;
  margin-left: auto;
}

.references .rotate-open {
  border-radius: 50%;
  background-color: #ffeccf;
  transform: rotate(0deg);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.references .rotate-closed {
  border-radius: 10%;
  background-color: #f7cc4b;
  transform: rotate(180deg);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.references .rotate-open:hover {
  background-color: #f7cc4b;
  border-radius: 10%;
}

.references .rotate-closed:hover {
  background-color: #ffeccf;
  border-radius: 50%;
}

.references button svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.keypoint-customize {
  margin-top: -0.2rem;
}
