.iframe {
  color: var(--color-medium);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  max-width: 440px;
  height: 625px;
  width: 100%;
  background: var(--bg-linear-gradient);
  background-size: 400% 400%;
  animation: background-gradient 20s ease infinite;
}

@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media all and (max-width: 320px) {
  .iframe {
    height: 500px;
  }
}
